<p class="text-right">
  <i class="fas fa-flag">参加条件:<%= group.status%></i>
   <i class="fas fa-user-friends"><%=group.users.count %>人が参加中</i>

   <%= group.user ? group.user.name : "不明" %>が
  <i class="far fa-clock"><%=group.created_at.strftime('%Y/%m/%d') %>に作成</i>
        
</p>