<div style="text-align:center;"><%= attachment_image_tag user, :profile_image,size:"100x100", fallback: "no_image.png" %></div>
<div style="text-align:center;"><%= user.name %></div>
<div><%= user.introduction %></div>

