<% if @comment_posts.present? %>
<p class="text-center" style="color:blue; font-size:18px;"><i class="far fa-smile">コメントした記事を表示しています。</i></p>
<% else %>
<p class="text-center" style="color:blue; font-size:18px;"><i class="far fa-smile">コメントした記事はありません。</i></p>
<% end %>

<%= render 'favorites', favorite_posts: @comment_posts,user: @user %>
