<% if @posts.present?%>
<p class="text-center" style="color:blue; font-size:15px;"><i class="far fa-smile"></i>現在下書き記事を表示しています。</p>
<% else %>
<p class="text-center" style="color:blue; font-size:15px;"><i class="far fa-smile"></i>下書き記事はありません。</p>
<% end %>
<%= render 'favorites', favorite_posts: @posts,user: @user %>
