<div class="container">
  <div class='row justify-content-center mx-auto'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <div class="destroy_box">
        <h4>退会処理前　確認事項</h4>
        <h6>※データの取扱いに関する確認事項です。<br>
        必ず、全ての事項を確認の上、退会処理を行ってください。</h6>
        <p>①所属している勉強会（グループ）からは退出をお願いします。</p>
        <p>②作成した勉強会（グループ）がある場合は、削除お願いします。<br>
        尚、活動中の場合、勉強会（グループ）を他のユーザーの管理下に移動してください。</p>
        <p>③投稿した記事、投稿者名は退会後も残ります。<br>
        但し、投稿者名のみ残るだけで、ユーザーのマイページの閲覧は出来なくなります。<br>
        残したくない記事は個別に削除をお願いします。</p>
        <p>④所属部署は、退会済に変更をお願いします。</p>
        
        <%=link_to "退会する",user_path(@user),method: :patch,data: { confirm: '本当に消しますか？' },class:"btn btn-outline-danger btn-block"%>
        <%=link_to "編集画面に戻る",edit_user_path(@user),class:"btn btn-outline-info btn-block"%>
      </div>
      
</div>
</div>
</div>


<style>
  .destroy_box {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #ff7d6e;
    background: #ffebe9;
    border-top: solid 10px #ff7d6e;
}

</style>