<div class="container">
  <div class="row">
    
    <!--col3にユーザーの基本情報格納-->
    <div class="user_box col-md-3">
      <%= render 'info', user: @user %>
    </div>
    
    
    
  </div>
  
  
</div>

<style>
  .user_box {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #5d627b;
}
</style>