<div class="container">
<div class="row">
  <div class="col-sm-8 m-auto">
    <!--画像表示スライドはBootstrapのカルーセルで行う　動きはjquery-->
    <div class="carousel slide" data-ride="carousel" id="carousel">
      <!--下の棒（インディケーター）出すための記述-->
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0"></li>
        <li class="active" data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>
      <!--表示する画像、表示する文、一番最初に出したいのはactiveにする-->
      <div class="carousel-inner">
        <div class="carousel-item"><%= image_tag('ship.jpg')%>
        <!--画像が小さくなったら、もう文字は表示しない-->
          <div class="carousel-caption d-none d-md-block">
            <h3>つながる</h3>
            <p>あなたの手配はどこまでもつながるよ</p>
          </div>
        </div>
        <div class="carousel-item active"><%= image_tag('terminal.jpg')%></div>
        <div class="carousel-item"><%= image_tag('ship2.jpg')%></div>
      </div>
      <!--画像横の< > 出すための記述-->
      <a class="carousel-control-prev" href="#carousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#carousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
      </div>
    </div>
  </div>
</div>