<div class='container'>
  <div class='row justify-content-center mx-auto'>
    <div class="col-sm-12 col-md-6 col-lg-7 px-5 px-sm-0">
  

<%= render 'form', post: @post %>



    </div>
  </div>
</div>
  
