// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title1 {
  font-size:50px;
  font-family: "Times New Roman", "Bradley Hand", Courier, "Segoe Print", sans-serif;
  padding-top:30px;

}

.introduction{
  font-size:15px;
  margin-top:200px;
  margin-bottom:30px;
}

#port{
  padding-top:100px;
  text-align:center;
}