// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title1 {
  font-size:90px;
  font-family: "Times New Roman", "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

.introduction{
  font-size:15px;
  margin-top:200px;
  margin-bottom:60px;
}

.title2 {
  font-size:60px;
  font-family: "Times New Roman", "Bradley Hand", Courier, "Segoe Print", sans-serif;
  margin-bottom:40px;
}

.introduction2{
  font-size:18px;
  // margin-top:40px;
  color:black;
}


#output{
  position: relative;
  top:10%;
  margin-right:400px;

  // transform: translateY(-50%);
}

#strength{
  position: relative;
  top:20%;
  margin-right:400px;

  // transform: translateY(-50%);
}

.carousel-item {
  height: 550px;
  position: relative;
}
.carousel-image-1 {
  background-image: image-url(lighthouse.jpg);
  background-size: cover;
  background-position:center;
  position: relative;
  width: 100%;
  height: 600px;
}

.carousel-image-2 {
  background-image: image-url(port-terminal.jpg);
  background-size: cover;
  background-position:center;
  position: relative;
  width: 100%;
  height: 600px;
}

.carousel-image-3 {
  background-image: image-url(ship1.jpg);
  background-size: cover;
  background-position:center;
  position: relative;
  width: 100%;
  height: 600px;
}

.carousel-image-5 {
  background-image: image-url(ship4.jpg);
  background-size: cover;
  background-position:center;
  position: relative;
  width: 100%;
  height: 600px;
}



.carousel-image-6 {
  background-image: image-url(sea2.jpg);
  background-size: cover;
  background-position:center;
  position: relative;
  width: 100%;
  height: 600px;
}

// .carousel-caption-1 {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
// }

// .carousel-caption-2 {
//   position: absolute;

// }
#how_to_use{
  color:rgba(70, 130, 180,.8);
  font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

li{
  margin:0;
  list-style:none;}

.contents li {
  position: relative;
  // opacity: 0;
  // // 下からふわっと（元々下に配置しておく）
  // transform: translateY(50px);
  // // 時間をかけて出てきてくれる
  // transition: 1s;
}

// javascriptの記述ででshowがつくことになってる
// .contents li.show {
  // opacityだとポンっと出てくる
  // opacity: 1;
  // transform:none;
// }

.contents li:not(:first-of-type){
  margin-top: 50px;
}

.contents li:nth-of-type(odd) .contentsText{
  right: 0;
}

.contents li:nth-of-type(even) .contentsText{
  align-items:flex-start;
}

.contents li:nth-of-type(even) .img-fluid{
  display:block;
  margin-left: auto;
}

.contentsText{
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  position:absolute;
  top:30%;

}

.contents h2{
  font-size:50px;
  font-weight:bold;
  white-sapce:nowrap;
  background-color:rgba(135, 206, 250,.8);
  padding:10px 20px;
  border-radius:5px;
  opacity: 0;
  transform: translateY(20px);
  transition: 1s;
}

.contents p{
  line-height: 1.6;
  font-size:15px;
  max-width:500px;
  padding:15px;
  margin-top:30px;
  border-radius:5px;
  background-color:rgb(224, 255, 255);
  opacity: 0;
  transform: translateX(20px);
  transition: 1s;
}

.img-fluid{
  opacity: 0;
  transform: translateX(-20px);
  transition: 1s;
}

.contents li.show h2,
.contents li.show p,
.contents li.show .img-fluid{
  transform:none;
  opacity:1;
}