// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
  text-decoration: none;
  color: black;
}

// .tabs{
//   display: flex;
//   justify-content:space-between;

// }

// .tabs li{
//   width:42%;
//   list-style:none;
// }

// .tabs li a{
//   display:flex;
//   align-items:center;
//   justify-content:center;
//   height:40px;
//   background-color:#bbb;
// }

// .tabs li a:hover{
//   opacity: 0.7;
// }


// activeがついてない時
.nav-link {
  background-color:#bbb;
}

.nav-link:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.tab_contents_item{
  display:none;
}

.tab_contents_item.active{
  display:block;
}
